name: Playwright Tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: test
      NEXT_PUBLIC_SUPABASE_URL: ${{ secrets.NEXT_PUBLIC_SUPABASE_URL }}
      SUPABASE_SERVICE_KEY: ${{ secrets.NEXT_PUBLIC_SUPABASE_ANON_KEY }}

    steps:
      - uses: actions/checkout@v4

      - name: Log Secrets
        run: |
          echo "NEXT_PUBLIC_SUPABASE_URL is ${secrets.NEXT_PUBLIC_SUPABASE_URL:-NOT SET}"
          echo "SUPABASE_SERVICE_KEY is ${secrets.SUPABASE_SERVICE_KEY:-NOT SET}"
